*,::after,::before{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
   
}
html{
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#foo{
    border: solid red 2px;
}

.undisplayedCanvas{
    border: solid purple 2px;
}

.messageErrorDisplay{
    width: 100%;
    border: solid green 2px;
}

